@model AquiOuAcola.Entidades.Curso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.foto)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Imagens/@Html.DisplayFor(model => model.foto)" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disponibilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disponibilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gratuito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gratuito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
  
</div>
