@model AquiOuAcola.Entidades.Curso

@{
    ViewData["Title"] = "Saiba mais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="cursoMain">
        <div class="row">
            <div class="col-md-8" id="cursoConteudo">
                Buscador / Resultados / @Html.DisplayFor(model => model.nome)
                <br /><br />
                <h2>@Html.DisplayFor(model => model.nome)</h2>
                @Html.DisplayFor(model => model.gratuito)
                <br /><br />
                <h6>Descrição:</h6>
                @Html.DisplayFor(model => model.descricao)
                <br /><br />
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                <br /><br />
                <h6>Disponível em:</h6>
                @Html.DisplayFor(model => model.link)
                <br /><br />
                Adicionado por <a>Gabriel Oliveira</a>
            </div>
            <div class="col-md-4">
                <div id="cursoFoto">
                    <img src="~/Imagens/@Html.DisplayFor(model => model.foto)" />
                </div>
                <div class="d-block text-center" style="margin-top: 25px; padding: 15px;">
                    <div>
                        <a asp-controller="CursoFavorito" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-info">Favoritar</a>
                    </div>
                    <div style="margin-top: 5px; margin-bottom: 15px;">
                        <a href="@Html.DisplayFor(model => model.link)" class="btn btn-outline-info">Acessar</a>
                    </div>
                    <p style="font-size: 12px;">DENUNCIAR</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center" id="cursoVoltar">
                <i class="bi bi-arrow-left"></i>
                <a asp-action="Index" style="padding-left: 10px;">Voltar para o Buscador</a>
            </div>
        </div>
        <footer></footer>
    </div>
</div>
